body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #0f1f1c;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  text-align: center; /* Centra el contenido del header */
}

header h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el logo horizontalmente */
  gap: 12px;
  margin-bottom: 15px; /* Espacio entre el logo y el menú */
}

/* Contenedor logo + menú */
.breadcrumbs {
  font-size: 12px;
  margin-bottom: 2px;
  color: #6c7a75;
  display: flex;
  flex-wrap: wrap; /* Evita que se desborde en varias líneas */
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: center;
  gap: 0px; /* Reduce el espacio entre los elementos */
}

.breadcrumbs a {
  text-decoration: none;
  color: #8aa39a;
  padding: 0 4px;
}

.breadcrumbs span {
  color: #222;
}

.breadcrumbs a::after {
  content: " > ";
  color: #aaa;
  margin-left: 6px; /* Reduce el espacio entre los elementos */
}
.breadcrumbs a:hover {
  color: #4e6d59; /* Opcional: color para el hover */
}

/* Tamaño del logo */
.logo img {
  height: 42px;
}

/* Menú */
nav {
  display: flex;
  justify-content: center; /* Centra el menú */
  gap: 8px;
}

nav a {
  display: inline-block;
  padding: 8px 14px;
  margin: 6px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.08);
  color: #e0f2ee;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

nav a:hover {
  background-color: rgba(255,255,255,0.2);
}

nav a:visited {
  color: #e0f2ee;
}

/* Contenido */
section {
  padding: 30px 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

footer {
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* Móvil */
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    gap: 10px;
  }
   h1 {
    font-size: 20px; /* Tamaño más pequeño para móviles */
  }
}

  nav {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  nav a {
    font-size: 14px;
    padding: 6px 12px;
    margin: 4px;
  }

 section {
  padding: 30px 20px;
  max-width: 800px;  /* Ajusta este valor si es necesario */
  margin: auto;      /* Centra el contenedor */
}

   /* Estilo para todas las imágenes destacadas (PC y móvil) */
  .featured-image {
    width: 100%;       /* Ocupa todo el ancho del contenedor */
    max-width: 1200px; /* No se estira más que su tamaño original */
    height: auto;      /* Mantiene la proporción de la imagen */
    display: block;    /* Elimina espacios debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 8px; /* Opcional, estética */
  }

