body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #0f1f1c;
  color: white;
  padding: 20px;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

header h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* contenedor logo + menú */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}
.breadcrumbs {
  display: flex;
  flex-wrap: nowrap; /* Evita que el contenido se divida en líneas */
  align-items: center; /* Alinea los elementos verticalmente */
  font-size: 14px;
  margin-bottom: 25px;
  color: #6c7a75;
}

.breadcrumbs a,
.breadcrumbs span {
  text-decoration: none;
  color: #8aa39a;
}

.breadcrumbs span {
  color: #222;
}

.breadcrumbs a:not(:last-child)::after {
  content: " >"; /* Añade el símbolo de mayor que entre los enlaces */
  margin: 0 5px;
}

/* tamaño del logo */
.logo img {
  height: 42px;
}

/* menú */
nav {
  display: flex;
  gap: 8px;
}

nav a {
  display: inline-block;
  padding: 8px 14px;
  margin: 6px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.08);
  color: #e0f2ee;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

nav a:hover {
  background-color: rgba(255,255,255,0.2);
}

nav a:visited {
  color: #e0f2ee;
}

/* contenido */
section {
  padding: 30px 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

footer {
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* móvil */
@media (max-width: 600px) {

  .header-container {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: 14px;
    padding: 6px 12px;
    margin: 4px;
  }

  section {
    padding: 20px 15px;
  }

}
